*{
    margin: 0;
}

.sectionUltraTabs{
    background: $superLightGrey;
    padding-bottom: 30px;
}

.contenedorSuperiorTabs{
    // border: 1px solid red;
    width: 90%;
    margin: 1em auto 0 auto;
    // padding: 10px;  
} 
  
// pestañas de arriba
.tabs{
 list-style: none;
 display: flex;
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
 justify-content: space-evenly;
 text-align: center;
 align-items: center;
 position: relative;
 cursor: pointer;
 top: 2px;


 
 &__item{
     padding: 14px 1em;
     border: 1px solid black;
     border-bottom: none;
     width: 100%;
     border-radius: 7px 7px 0 0;
     background: rgb(116, 64, 168);
     height: 20px;
    //  background: rgb(179, 102, 255);
   
   
    &.active{
        background: rgb(204, 171, 236);
        z-index: 20;
    }
 }
}

.descripcionParque{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}






// paneles con el contenido
.panel{
    border: 1px solid black;
    padding: 1.5em;
    position: relative;
    z-index: 10;
    background: rgb(204, 171, 236);
    
    & p{
        font-family: $fuente2;
        font-size: $p;
    }
    
    &__item,&__item img{ //para que las imagenes y los
        display: none;   //paneles se oculten
                        
        
        &.active{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 14px;
            position: relative;
            left: 0;

            & img{//cuando se ponga active la imagen tambien
                display: block;//se muestra
               
            }
        }
    }


}



.panel img{
    width: 100%;
    transition: .3s;
    will-change: transform;
}

.panel img:hover{
    transform: scale(1.02);
    box-shadow: 0px 1px 10px 3px;
}

@media screen and (max-width: 600px){

    .contenedorSuperior{
        width: 95%;
    }

    .panel__item.active{
        grid-template-columns: 1fr;
    }
}
    