                    // h1 encabezados
.tituloHistory,
.ciudadesVisit,
.tituloParquesTuristicos,
.titulo_ubicacion{
    text-align: center;
    padding: 15px 10px 10px 10px;
    font-size: $h1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

