<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>gastronomia del estado Guárico</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/gastronomia.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
	{% include 'nav.html' %}

<div class="portada_gastronomia">
	<div class="descripcion_portada_gastronomia">
		<h1>platos típicos que podrás encontrar en Guárico</h1>
	</div>
	{% load static %}
	<div class="scroll_sign"><img src="{% static 'images/flecha4.png' %}"></div>
</div>

<div class="seccion fon1"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Pabellón Criollo</h1>
		<p>el pabellón es el plato nacional de Venezuela, por ende del estado Guárico también. <br> Es un platillo que consta de básicamente 4 ingredientes: carne mechada, arroz blanco, caraotas(llamadas frijoles negros en otros paises) y la tajada que no es más que platano frito</p>
	</div>
</div>
 
<div class="seccion fon2"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Cachapa</h1>
		<p>las cachapas están hechas a base de una masa de <b>maíz tierno molido</b>,leche y azúcar. <br>Se suele acompañar con queso blanco o con queso e' mano(un queso muy blando pero de buen sabor) asi como también de carne de res o cerdo(mejor conocido como 'cochino') </p>
	</div>
</div>

<div class="seccion fon3"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Carne en vara</h1>
		<p>Es como cualquier carne de res sólo que con la particularidad de que su manera de cocinar es a travez de varas de madera o metal posicionadas sobre la leña <br><br> se suele acompañar con casabe, yuca y/o ensalada </p>
	</div>
</div>

<div class="seccion fon4"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Pisillo de chigüire</h1>
		<p>El Chigüire o mejor conocido como Capibara es un roedor de gran tamaño(el más grande del mundo), aunque sea de la familia de los roedores se debe aclarar que su sabor no es para nada malo, por ello usted se podría llegar a topar con éste particular platillo. </p>
	</div>
</div>

<div class="seccion fon5"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>El sancocho</h1>
		<p>más que una sabrosa sopa con varios ingredientes, el sancocho es una comida para disfrutar en familia. <br>se suele comer algun fin de semana o bien en una visita al campo</p>
	</div>
</div>

<div class="seccion fon6"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>El golfeao</h1>
		<p>golfeao, golfiao, golfeado... se puede llamar como quieras pero lo que si tiene  único éste postre es el sabor. <br><br> Está hecho con una masa a base de harina de trigo y se endulza con papelón, también se puede encontrar con queso por encima que le da ese gusto dulce-salado que lo hace tan famoso</p>
	</div>
</div>

<div class="seccion fon7"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Catalinas</h1>
		<p>una catalina está hecha con masa a base de harina de trigo, también llevan papelón y casi siempre están rellenas de dulce de lechoza. <br><br>Sin duda, si vas a Guárico tienes que provarlas si o si</p>
	</div>
</div>

<div class="seccion fon8"></div>
<div class="sub_seccion">
	<div class="descripcion_subseccion">
		<h1>Besitos de coco</h1>
		<p>como su nombre dice este postre está hecho con coco y harina de trigo, no queda mucho que decir pero si te queda mucho por probar</p>
	</div>
</div>

<section class="conclusion_gastronomia">
	<div><h1>Te gustó lo que víste?</h1></div>
	<div><h2>ven ya a Guárico!</h2></div>
</section>

{% include 'footer.html' %}
{% load static %}
<script src="{% static 'js/headerMobile.js' %}"></script>
</body>
</html>


